<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="admin">
  <select id="login" resultType="int" parameterType="java.util.Map" >
    SELECT count(*) FROM users
    where id=#{parameter1}
    and pw=#{parameter2}
  </select>

  <select id="idchk" resultType="int" parameterType="String" >
    SELECT count(*) FROM users
    where id=#{value}
  </select>
 
   <insert id="insertOne" parameterType="com.hb.pro.admin.model.AdminVo">
  	INSERT INTO users VALUES ( #{id}, #{pw} )
  </insert>
 
	 <select id="selectAll" resultType="com.hb.pro.admin.model.CookVo">
	    SELECT * FROM cook order by cook_num desc
	  </select>
 
 	<select id="selectOne" parameterType="int" resultType="com.hb.pro.admin.model.CookVo">
  		SELECT * FROM cook WHERE cook_num=#{value}
 	 </select>
 
 	<update id="updateOne" parameterType="com.hb.pro.admin.model.CookVo">
  		update cook set title=#{title}, mat=#{mat}, text=#{text}, path=#{path} where cook_num=#{cook_num}
  	</update>
  	
  	  <delete id="deleteOne" parameterType="int">
  		DELETE FROM cook WHERE cook_num=#{value}
 	 </delete>
  	
   <insert id="insertCook" parameterType="java.util.Map">
  	INSERT INTO cook VALUES (cook_sqc.nextval, #{title}, #{mat}, #{text}, #{path} )
  </insert>
  
   <select id="searchAll" resultType="com.hb.pro.admin.model.CookVo" parameterType="String">
	    SELECT * FROM cook where title like '%'|| #{value} || '%'
	  </select>

   <select id="searchTitle" resultType="com.hb.pro.admin.model.CookVo" parameterType="String">
	    SELECT * FROM cook where title like '%'|| #{value} || '%'
	  </select>
  
  
  
	  <insert parameterType="java.util.Map" id="insertBasket"> 
	  INSERT INTO basket VALUES (#{id}, #{cook_num} )
	   </insert>
	
	<delete parameterType="int" id="deleteBasket">
	 DELETE FROM basket WHERE cook_num=#{value}
	  </delete>
	
	<select parameterType="java.util.Map" resultType="int" id="selectBasket">
	 SELECT count(*) FROM basket where id=#{id} and cook_num=#{cook_num}
	  </select>


	  <select id="basketList" parameterType="String" resultType="com.hb.pro.admin.model.CookVo">
 	    select a.cook_num as cook_num,a.title as title,a.mat as mat,a.text as text,a.path as path
  		from cook a,(select cook_num from basket where id=#{value} ) b 
  		where a.cook_num=b.cook_num
 	 </select>

  	<delete id="idDel" parameterType="String">
  		DELETE FROM users WHERE id=#{value}
 	 </delete>
  	
  
</mapper>